<div class="text-center">
<p>No meio do inverno sombrio
  O vento frio me faz gemer
  Terra ficou dura
  Como ferro</p>
  <p>Água como uma pedra
    Neve que tinha caído
    Neve na neve
    Neve na neve
    No meio do inverno sombrio
    Há muito</p>
    <p>Anjos e arcanjos
      Pode ter ali reunidos
      Querubins e serafins
      Aglomeravam no ar
      Mas sua mãe só
      Em sua bem-aventurança de solteira
      Adorado o amado
      Com um beijo</p>
      <p>O que eu posso dar-lhe
        Pobre como eu sou?
        Se eu fosse um pastor
        Gostaria de trazer um cordeiro
        Se eu fosse um homem sábio
        Eu faria a minha parte
        Ainda
        O que eu posso dar-lhe
        Dou meu coração</p>
        </div>
